<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCmS9-kC8VrMIu5mgUkF51j_5fJm_JsSPU</string>
	<key>GCM_SENDER_ID</key>
	<string>660929143109</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>cr7.ProyectoFinal</string>
	<key>PROJECT_ID</key>
	<string>inventarioapp-4cf62</string>
	<key>STORAGE_BUCKET</key>
	<string>inventarioapp-4cf62.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:660929143109:ios:579d7686baa37ae8f39e2c</string>
</dict>
</plist>